amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.26.post2
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
dj-database-url==0.5.0
Django==2.0.4
django-celery==3.2.2
django-location-field==2.0.3
gunicorn==19.7.1
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
kombu==3.0.37
nbformat==4.4.0
numpy==1.14.2
pandas==0.22.0
plotly==2.5.1
psycopg2==2.7.4
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
six==1.11.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1
