packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    libcurl-devel: []

commands:
  01_install_rhel_pg:
    command: "(yum repolist |grep -q pgdg96) || sudo yum install https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-6-x86_64/pgdg-ami201503-96-9.6-2.noarch.rpm -y"
  02_install_pg_devel:
    command: "sudo yum install postgresql96-devel -y"
  03_link_pg_config:
    command: "sudo ln -sf /usr/pgsql-9.6/bin/pg_config /usr/bin/"
