#map {
  width: 100%;
  height: 400px;
  margin-top: 70px;
}

h2 {
  margin-top: 50px;
  margin-bottom: : 50px;
}

* {
  font-family: 'Roboto Mono', monospace;
}

#loading_div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 998;
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/loading_icon.gif') no-repeat center center;
    z-index: 999;
}
