{# GoogleMaps API#}
<div class="map-section">
  <div id="map" style="width: 400px; height: 400px;"></div>
</div>
<script>
 function initMap() {
   var uluru = {lat: {{lat}}, lng: {{lng}} };
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 13,
     center: uluru
   });
   var marker = new google.maps.Marker({
     position: uluru,
     map: map
   });
 }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARgfbgBXMspECr3Xal6K8jv0vMjWaEL2c&callback=initMap">
</script>
