{# GoogleMaps API#}
{% load scraper_filters %}
{% load static %}
<div class="map-section">
  <div id="map"></div>
</div>
<script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        {% if location %}
        // if location is chosen
          zoom: 15,
          center: {lat: {{location.coordinates|get_coord}},
                    lng: {{location.coordinates|get_coord:'lng'}}}
        {% else %}
          // Warsaw coords
          zoom: 10,
          center: {lat: 52.2443257, lng: 21.021403}
        {% endif %}
      });
      markers = []
      // creating a list of markers
      {% for loc in locations %}
          var point = new google.maps.LatLng({{loc.coordinates|get_coord}},
                          {{loc.coordinates|get_coord:'lng'}});
          var image = "{% static '/images/cycling.png' %}";
          var marker = new google.maps.Marker({
              position: point,
              map: map,
              icon: image,
          });
          marker['infowindow']  = new google.maps.InfoWindow({
                   content: "{{ loc.name }}",
          });
          google.maps.event.addListener(marker, 'click', function() {
                window.location.href = '{% url 'scraper:snapshot_plots' slug=loc.slug %}';
          });
          google.maps.event.addListener(marker, 'mouseover', function() {
                this['infowindow'].open(map, this);
          });
          google.maps.event.addListener(marker, 'mouseout', function() {
              this['infowindow'].close(map, this);
          });
          markers.push(marker);
        {% endfor %}

    // clusters of markers
    var markerCluster = new MarkerClusterer(map, markers,
              {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  };
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARgfbgBXMspECr3Xal6K8jv0vMjWaEL2c&callback=initMap">
</script>
