<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Veturilo Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <!-- static -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script type="text/javascript" src="{% static 'js/master.js' %}"></script>
    <!-- dataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- markerclusterer -->
    <script src="{% static 'js/markerclusterer.js' %}"></script>
    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <!-- loader -->
    <div id="loading_div">
      <div id="loading"></div>
    </div>
    <div class="container">
      <h1 class="text-center font-weight-bold mb-5 mt-5">Veturilo Statistics</h1>
      <div class="row">
        <div class="col-md-7 col-sm-12 d-none d-sm-block">
          <table class="datatable table table-striped"
           style="width=100%">
            <thead>
              <th>Location</th>
              <th>Bikes</th>
              <th>Stands</th>
              <th>Charts</th>
            </thead>
            <tbody>
              {% for loc in locations %}
                <tr>
                  <td>{{loc.name}}</td>
                  <td>{{loc.snapshots.last.avail_bikes}}</td>
                  <td>{{loc.snapshots.last.free_stands}}</td>
                  <td>
                    <a href="{% url 'scraper:snapshot_plots' slug=loc.slug %}">
                      Real-time</a>
                    {% if months %}
                      <span>Monthly:&nbsp</span>
                      {% for month in months %}
                        <a href="{% url 'scraper:stat_plots' slug=loc.slug year=month|date:'Y' month=month|date:'m' %}">
                            {{month|date:'M Y'}}</a>&nbsp
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <p class="font-italic">Last update: {{locations.0.snapshots.last.timestamp}}</p>
        </div>
        <div class="col-md-5 col-sm-12">
          {% include "_map.html" %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {% block charts %}{% endblock charts %}
            {% if months %}
              <p>Monthly plots:
              {% for month in months %}
                <a href="{% url 'scraper:stat_plots' slug=loc.slug year=month|date:'Y' month=month|date:'m' %}">
                    {{month|date:'M Y'}}</a>&nbsp
              {% endfor %}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
